@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("./embla.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* Forms */
.input {
  @apply px-2 py-1 border border-gray-300;
}

.submit {
  @apply px-2 py-1 border-2 text-gray-600 border-gray-300 hover:border-black hover:bg-gray-100 hover:text-black transition-colors duration-300;
}

.auth-form {
  @apply flex flex-col gap-4 max-w-xl mx-auto p-10 border shadow-md my-14 mb-20;
}

.inline-anchor {
  @apply text-gray-700 underline underline-offset-4 hover:text-black;
}
